<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加管理员</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/plugins/webuploader/webuploader.css" rel="stylesheet">

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>查看留言</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post" >

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题：</label>
                            <div class="input-group col-sm-4">
                                <input id="site_title" type="text" disabled class="form-control" value="{$data.title}" name="title" required  aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">提交时间：</label>
                            <div class="input-group col-sm-4">
                                <input id="time" type="text" disabled class="form-control" value="{$data.time}" name="title" required  aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名：</label>
                            <div class="input-group col-sm-4">
                                <input id="putname" type="text" disabled class="form-control" value="{$data.name}" name="title" required  aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容：</label>
                            <div class="input-group col-sm-4">
                                <textarea id="content"  disabled class="form-control" rows="10"  name="title" required  aria-required="true">{$data.content}
                                </textarea>
                            </div>
                        </div>

                        {volist name="type" id="v"}


                        {switch name="v.fieldname"}
                        {case value="1"}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$v.name}：</label>
                            <div class="input-group col-sm-4">
                                <input id="{$v.the_column}" type="text" disabled  class="form-control" name="{$v.the_column}"  aria-required="true">
                            </div>
                        </div>



                        {/case}
                        {case value="2"}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$v.name}：</label>
                            <div class="input-group col-sm-8" >


                                <div id="{$v.the_column}"  style="height: 500px"><p>请输入内容</p></div>
                                <input type="hidden" name="{$v.the_column}" class="{$v.the_column}" value="">

                            </div>
                        </div>



                        <script>



                            $(function () {



                                var editor = new wangEditor('{$v.the_column}');

                                wangEditor.config.printLog = false;
                                editor.config.uploadImgUrl = '/admin/common/uploadsedit';
                                editor.config.uploadParams = {
                                    // token1: 'abcde',
                                    // token2: '12345'
                                };

                                editor.config.mapAk = 'Hl7GMskDe5PXgBsY0PSD0qEFzVNtKGBc';
                                editor.config.uploadImgFileName = 'img'
                                editor.config.uploadHeaders = {
                                    // 'Accept' : 'text/x-json'
                                }

                                editor.onchange = function () {
                                    // 编辑区域内容变化时，实时打印出当前内容
                                    $('.{$v.the_column}').attr('value',this.$txt.html()) ;
                                };

                                editor.create();



                            })
                        </script>


                        {/case}
                        {case value="3"}


                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$v.name}：</label>
                            <div class="col-md-4 input-group">
                                <input id="{$v.the_column}" type="file" name="{$v.the_column}" style="display:none">
                                <span class="input-group-addon" onclick="$('input[id={$v.the_column}]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>选择</span>
                                <input id="{$v.the_column}1" name="{$v.the_column}" class="form-control" type="text" value=""  >

                                <span class="input-group-addon {$v.the_column}" style="width:80px;cursor: pointer;pointer-events: auto;" ><i class="fa fa-folder-open"></i>点击上传</span>

                            </div>
                            <label id="targetwz" for="inputPassword" style="color:#f00" class="sr-only">*请选择文件</label>
                        </div>

                        <script>



                            var {$v.name}1=$("#{$v.the_column}1");
                            var {$v.name}2=$("#{$v.the_column}");
                            $('input[id={$v.the_column}]').change(function() {
                                $('#{$v.the_column}1').val($(this).val());
                            });


                            $(".{$v.the_column}").click(function(){

                                if({$v.name}1.val()==0 ||{$v.name}2.val()==0){

                                    up.focus();
                                    swal("不能为空", "", "error");
                                    return false;
                                }

                                else{
                                    var formData = new FormData();
                                    var type = {$v.the_column};
                                    formData.append("{$v.the_column}",$("#{$v.the_column}")[0].files[0]);
                                    formData.append("type","{$v.the_column}");
                                    $.ajax({
                                        url: '/admin/common/uploadsother' ,
                                        type: 'POST',
                                        data:formData  ,// 你的formid

                                        async: false,
                                        cache: false,
                                        contentType: false,
                                        processData: false,

                                        beforeSend:function(){
                                            jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                                        },
                                        success: function (data) {
                                            layer.close(jz);
                                            $('#{$v.the_column}1').val('/uploads/'+data);
                                            console.log(data);
                                        },
                                        error: function () {
                                            alert('上传错误联系管理员');
                                        }
                                    });

                                }


                            });
                        </script>

                        {/case}
                        {default /}
                        {/switch}


                        {/volist}




                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <!--<input type="button" value="提交" class="btn btn-primary" id="postform"/>-->
                                <button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>

<script src="__JS__/plugins/webuploader/webuploader.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/demo/form-validate-demo.min.js"></script>
<script type="text/javascript">





</script>
</body>
</html>
