<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单篇添加</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->

    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/layui/css/layui.css"  media="all">
   <link rel="stylesheet" type="text/css" href="__ADMIN__/edit/css/wangEditor.min.css">
    <link href="__CSS__/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="__CSS__/plugins/dropzone/dropzone.css" rel="stylesheet">
    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/plugins/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/edit/js/wangEditor.js"></script>

    <style>

        .layui-form-switch{
            width:55px;
        }

    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>单篇添加</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post" onsubmit="return toVaild()">

                        <div class="form-group">
                            <label class="col-sm-1 control-label">名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="cate_name" type="text" class="form-control" name="name" required  aria-required="true">

                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-1 control-label">主要内容：</label>
                            <div class="input-group col-sm-8" >


                                <div id="editor-trigger" style="height: 500px">
                                </div>
                                    <input type="hidden" name="info" class="info" value="">

                            </div>
                        </div>



                        {volist name="type" id="v"}


                        {switch name="v.fieldname"}
                        {case value="1"}

                        <div class="form-group">
                            <label class="col-sm-1 control-label">{$v.name}：</label>
                            <div class="input-group col-sm-4">
                                <input id="{$v.the_column}" type="text"  class="form-control" name="{$v.the_column}"  aria-required="true">
                            </div>
                        </div>



                        {/case}
                        {case value="2"}

                        <div class="form-group">
                            <label class="col-sm-1 control-label">{$v.name}：</label>
                            <div class="input-group col-sm-8" >


                                <div id="{$v.the_column}" style="height: 500px"><p>请输入内容</p></div>
                                <input type="hidden" name="{$v.the_column}" class="{$v.the_column}" value="">

                            </div>
                        </div>



                        <script>



                            $(function () {


//     // 封装console.log
                                function printLog(title, info) {
                                    window.console && console.log(title, info);
                                }

                                // ------- 配置上传的初始化事件 -------
                                function uploadInit () {
                                    // this 即 editor 对象
                                    var editor = this;
                                    // 编辑器中，触发选择图片的按钮的id
                                    var btnId = editor.customUploadBtnId;
                                    // 编辑器中，触发选择图片的按钮的父元素的id
                                    var containerId = editor.customUploadContainerId;

                                    //实例化一个上传对象
                                    var uploader = new plupload.Uploader({
                                        browse_button: btnId,  // 选择文件的按钮的id
                                        url: '{:url("common/uploadsedit")}',  // 服务器端的上传地址
                                        flash_swf_url: '__JS__/plugins/plupload/Moxie.swf',
                                        sliverlight_xap_url: '__JS__/plugins/plupload/Moxie.xap',
                                        filters: {
                                            mime_types: [
                                                //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
                                                { title: "图片文件", extensions: "jpg,gif,png,bmp" }
                                            ]
                                        }
                                    });

                                    //存储所有图片的url地址
                                    var urls = [];

                                    //初始化
                                    uploader.init();

                                    //绑定文件添加到队列的事件
                                    uploader.bind('FilesAdded', function (uploader, files) {
                                        //显示添加进来的文件名
                                        $.each(files, function(key, value){
                                            printLog('添加文件' + value.name);
                                        });

                                        // 文件添加之后，开始执行上传
                                        uploader.start();
                                    });

                                    //单个文件上传之后
                                    uploader.bind('FileUploaded', function (uploader, file, responseObject) {
                                        //注意，要从服务器返回图片的url地址，否则上传的图片无法显示在编辑器中
                                        var url = responseObject.response;
                                        //先将url地址存储来，待所有图片都上传完了，再统一处理
                                        urls.push(url);

                                        printLog('一个图片上传完成，返回的url是' + url);
                                    });

                                    //全部文件上传时候
                                    uploader.bind('UploadComplete', function (uploader, files) {
                                        printLog('所有图片上传完成');

                                        // 用 try catch 兼容IE低版本的异常情况
                                        try {
                                            //打印出所有图片的url地址
                                            $.each(urls, function (key, value) {
                                                printLog('即将插入图片' + value);

                                                // 插入到编辑器中
                                                editor.command(null, 'insertHtml', '<img src="' + value + '" style="max-width:100%;"/>');
                                            });
                                        } catch (ex) {
                                            // 此处可不写代码
                                        } finally {
                                            //清空url数组
                                            urls = [];

                                            // 隐藏进度条
                                            editor.hideUploadProgress();
                                        }
                                    });

                                    // 上传进度条
                                    uploader.bind('UploadProgress', function (uploader, file) {
                                        // 显示进度条
                                        editor.showUploadProgress(file.percent);
                                    });
                                }


                                // ------- 创建编辑器 -------
                                var editor = new wangEditor('{$v.the_column}');
                                editor.config.customUpload = true;  // 配置自定义上传的开关
                                editor.onchange = function () {
                                    // 编辑区域内容变化时，实时打印出当前内容
                                    $('.{$v.the_column}').attr('value',this.$txt.html()) ;
                                };
                                editor.config.customUploadInit = uploadInit;  // 配置上传事件，uploadInit方法已经在上面定义了
                                editor.create();





                            })
                        </script>


                        {/case}
                        {case value="3"}


                        <div class="form-group">
                            <label class="col-sm-1 control-label">{$v.name}：</label>
                            <div class="col-md-4 input-group">
                                <input id="{$v.the_column}" type="file" name="{$v.the_column}" style="display:none">
                                <span class="input-group-addon" onclick="$('input[id={$v.the_column}]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>选择</span>
                                <input id="{$v.the_column}1" name="{$v.the_column}" class="form-control" type="text" value=""  >

                                <span class="input-group-addon {$v.the_column}" style="width:80px;cursor: pointer;pointer-events: auto;" ><i class="fa fa-folder-open"></i>点击上传</span>

                            </div>
                            <label id="targetwz" for="inputPassword" style="color:#f00" class="sr-only">*请选择文件</label>
                        </div>

                            <script>



                                var {$v.name}1=$("#{$v.the_column}1");
                                var {$v.name}2=$("#{$v.the_column}");
                                $('input[id={$v.the_column}]').change(function() {
                                    $('#{$v.the_column}1').val($(this).val());
                                });


                                $(".{$v.the_column}").click(function(){

                                    if({$v.name}1.val()==0 ||{$v.name}2.val()==0){

                                        up.focus();
                                        swal("不能为空", "", "error");
                                        return false;
                                    }

                                    else{
                                        var formData = new FormData();
                                        var type = {$v.the_column};
                                        formData.append("{$v.the_column}",$("#{$v.the_column}")[0].files[0]);
                                        formData.append("type","{$v.the_column}");
                                        $.ajax({
                                            url: '/admin/common/uploadsother' ,
                                            type: 'POST',
                                            data:formData  ,// 你的formid

                                            async: false,
                                            cache: false,
                                            contentType: false,
                                            processData: false,

                                            beforeSend:function(){
                                                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                                            },
                                            success: function (data) {
                                                layer.close(jz);
                                                $('#{$v.the_column}1').val('/uploads/'+data);
                                                console.log(data);
                                            },
                                            error: function () {
                                                alert('上传错误联系管理员');
                                            }
                                        });

                                    }


                                });
                            </script>

                        {/case}
                        {default /}
                        {/switch}


                        {/volist}


                        

                        <div class="form-group layui-form">



                            <label class="col-sm-1 control-label">语言：</label>
                            <div class=" col-sm-4">

                                    <input type="radio" name="lang" value="cn" title="中文" checked="">
                                    <input type="radio" name="lang" value="en" title="英文">

                            </div>

                         </div>



                        <div class="form-group">
                            <div class="col-sm-1 col-sm-offset-1">
                                <!--<input type="button" value="提交" class="btn btn-primary" id="postform"/>-->
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>

                    </form>

            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>

<script src="__JS__/plugins/webuploader/webuploader.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__CSS__/layui/layui.js" charset="utf-8"></script>

<script src="__JS__/plugins/dropzone/dropzone.js"></script>
<script src="__JS__/other.js"></script>

    <script type="text/javascript">



        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#myDropzone", {
            url: "/admin/common/uploads",
            addRemoveLinks: true,
            method: 'post',
            filesizeBase: 10240,
            dictRemoveFile: "移除图片",
            paramName:'image',
            sending: function(file, xhr, formData) {
                formData.append("filesize", file.size);
            },
            init: function() {
                this.on("success", function(file,data) {

                    var add=  '<img src="'+data+'">';
                    var bb=$('.duotu').attr('value');
                    bb+=add;
                    $('.duotu').attr('value',bb);
                    console.log($('.duotu').attr('value'));

                });
                this.on("removedfile", function(file) {

                    var bb=$('.duotu').attr('value');
                    var filename=file.xhr.responseText.replace(/"/g, "");
                    var cc=  '<img src="'+filename+'">';
                    $('.duotu').attr('value',bb.replace(cc, ""));
                    console.log($('.duotu').attr('value'));

                    $.ajax({
                        type:"POST",
                        url:'/admin/common/filedelete',
                        data:{'path' :filename },// 你的formid
                        async: false,
                        beforeSend:function(){
                            jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                        },
                        error: function(request) {
                            layer.close(jz);
                            swal("网络错误!", "", "error");
                        },
                        success: function(data) {
                            //关闭加载层
                            layer.close(jz);
                            if(data.code == 1){
                              swal(data.msg, "", "success");
                            }else{

                            }

                        }
                    });


                });


        }

        });
    </script>
<script type="text/javascript">



    //表单提交
    function toVaild(){
        var jz;
        var url = "./pageAdd";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#commentForm').serialize()},// 你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                var tid=data.tid;
                var link="{$baseFile}/page/index";
                layer.close(jz);
                if(data.code == 1){
                   location.href=link;


                }else{
                    swal(data.msg, "", "error");
                }

            }
        });

        return false;
    }





    var up=$("#photoCover");
    var upfile=$("#lefile");
    $('input[id=lefile]').change(function() {
        $('#photoCover').val($(this).val());
    });


    $(".ut2").click(function(){

        if(up.val()==0 ||upfile.val()==0){

            up.focus();
            swal("不能为空", "", "error");
            return false;
        }

        else{
            var formData = new FormData($( "#commentForm" )[0]);
            $.ajax({
                url: '/admin/common/uploads' ,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,

                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                success: function (data) {
                    layer.close(jz);
                    $('#photoCover').val('/uploads/'+data);
                },
                error: function () {
                    alert('上传错误联系管理员');
                }
            });

        }


    });



    var up1=$("#photoCover1");
    var upfile1=$("#down");
    $('input[id=down]').change(function() {
        $('#photoCover1').val($(this).val());

    });


    $(".dm").click(function(){



        if(up1.val()==0 ||upfile1.val()==0){

            up1.focus();
            swal("不能为空", "", "error");
            return false;
        }

        else{
            var formData = new FormData($( "#commentForm" )[0]);

            $.ajax({
                url: '/admin/common/uploadsdown' ,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,

                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                success: function (data) {
                    layer.close(jz);
                    $('#photoCover1').val('/uploads/'+data);
                },
                error: function () {
                    alert('上传错误联系管理员');
                }
            });

        }


    });




</script>



<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer


        //监听指定开关
        form.on('switch(switchTest)', function(data){
             $('.cate_recommend').attr('value',this.checked ? '1' : '0')

        });

        form.on('switch(switchTestshow)', function(data){
            $('.show').attr('value',this.checked ? '1' : '0')

        });

    });



    $('.shengcheng').click(function () {


        var name= $('#cate_name').val();

        if(name==false)
        {
            swal("名称为空无法生成", "", "error");

            return false;

        }
        else {


            $.ajax({

                type:'POST',
                url:'/admin/common/routecteate' ,
                data: { "name" :name } ,
                dataType:'json',
                success:function(data){

                    var info=data;
                    $('#jt').attr('value',info);
                },


                error: function () { alert("出错,联系管理员") }

            });

            return ture;

        }


    });
</script>




    <script type="text/javascript">
        // 封装console.log
        function printLog(title, info) {
            window.console && console.log(title, info);
        }

        // ------- 配置上传的初始化事件 -------
        function uploadInit () {
            // this 即 editor 对象
            var editor = this;
            // 编辑器中，触发选择图片的按钮的id
            var btnId = editor.customUploadBtnId;
            // 编辑器中，触发选择图片的按钮的父元素的id
            var containerId = editor.customUploadContainerId;

            //实例化一个上传对象
            var uploader = new plupload.Uploader({
                browse_button: btnId,  // 选择文件的按钮的id
                url: '{:url("common/uploadsedit")}',  // 服务器端的上传地址
                flash_swf_url: '__JS__/plugins/plupload/Moxie.swf',
                sliverlight_xap_url: '__JS__/plugins/plupload/Moxie.xap',
                filters: {
                    mime_types: [
                        //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
                        { title: "图片文件", extensions: "jpg,gif,png,bmp" }
                    ]
                }
            });

            //存储所有图片的url地址
            var urls = [];

            //初始化
            uploader.init();

            //绑定文件添加到队列的事件
            uploader.bind('FilesAdded', function (uploader, files) {
                //显示添加进来的文件名
                $.each(files, function(key, value){
                    printLog('添加文件' + value.name);
                });

                // 文件添加之后，开始执行上传
                uploader.start();
            });

            //单个文件上传之后
            uploader.bind('FileUploaded', function (uploader, file, responseObject) {
                //注意，要从服务器返回图片的url地址，否则上传的图片无法显示在编辑器中
                var url = responseObject.response;
                //先将url地址存储来，待所有图片都上传完了，再统一处理
                urls.push(url);

                printLog('一个图片上传完成，返回的url是' + url);
            });

            //全部文件上传时候
            uploader.bind('UploadComplete', function (uploader, files) {
                printLog('所有图片上传完成');

                // 用 try catch 兼容IE低版本的异常情况
                try {
                    //打印出所有图片的url地址
                    $.each(urls, function (key, value) {
                        printLog('即将插入图片' + value);

                        // 插入到编辑器中
                        editor.command(null, 'insertHtml', '<img src="' + value + '" style="max-width:100%;"/>');
                    });
                } catch (ex) {
                    // 此处可不写代码
                } finally {
                    //清空url数组
                    urls = [];

                    // 隐藏进度条
                    editor.hideUploadProgress();
                }
            });

            // 上传进度条
            uploader.bind('UploadProgress', function (uploader, file) {
                // 显示进度条
                editor.showUploadProgress(file.percent);
            });
        }


        // ------- 创建编辑器 -------
        var editor = new wangEditor('editor-trigger');
        editor.config.customUpload = true;  // 配置自定义上传的开关
        editor.onchange = function () {
            // 编辑区域内容变化时，实时打印出当前内容
            $('.info').attr('value',this.$txt.html()) ;
        };
        editor.config.customUploadInit = uploadInit;  // 配置上传事件，uploadInit方法已经在上面定义了
        editor.create();
    </script>
</body>
</html>
