<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加管理员</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/plugins/webuploader/webuploader.css" rel="stylesheet">

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>幻灯片设置</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post" >
                        <input type="hidden" name="id" value="{$id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="site_title" type="text" value="{$slide.slide_name}" class="form-control" name="slide_name" required  aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="input-group col-sm-4">
                                <input id="site_title" type="text" value="{$slide.slide_sort}" class="form-control" name="slide_sort"  aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">链接：</label>
                            <div class="input-group col-sm-4">
                                <input id="site_title" type="text" value="{$slide.slide_a}"   class="form-control" name="slide_a"  aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">图片：</label>
                            <div class="col-md-4 input-group">
                                <input id="lefile" type="file" name="image" style="display:none">
                                <span class="input-group-addon" onclick="$('input[id=lefile]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>选择</span>
                                <input id="photoCover" name="slide_img" class="form-control" type="text" value="{$slide.slide_img}" name="icon" >

                                <span class="input-group-addon ut2" style="width:80px;cursor: pointer;pointer-events: auto;" ><i class="fa fa-folder-open"></i>点击上传</span>

                            </div>
                            <label id="targetwz" for="inputPassword" style="color:#f00" class="sr-only">*请选择文件</label>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <!--<input type="button" value="提交" class="btn btn-primary" id="postform"/>-->
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>

<script src="__JS__/plugins/webuploader/webuploader.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/demo/form-validate-demo.min.js"></script>
<script type="text/javascript">
    $.getJSON("./index", function(json){
        $('#site_title').attr('value',json.site_title);
        $('#site_keywords').attr('value',json.site_keywords);
        $('#site_description').attr('value',json.site_description);
        $('#site_tel').attr('value',json.site_tel);
        $('#site_phone').attr('value',json.site_phone);
        $('#site_code').attr('value',json.site_code);
        $('#site_mail').attr('value',json.site_mail);
        $('#site_fax').attr('value',json.site_fax);
        $('#site_address').attr('value',json.site_address);
        $('#icp').attr('value',json.icp);

    });
    //表单提交


    var up=$("#photoCover");
    var upfile=$("#lefile");
    $('input[id=lefile]').change(function() {
        $('#photoCover').val($(this).val());
    });


    $(".ut2").click(function(){

        if(up.val()==0 ||upfile.val()==0){

            up.focus();
            $("#targetwz").removeClass("sr-only");
            return false;
        }

        else{
            var formData = new FormData($( "#commentForm" )[0]);
            $.ajax({
                url: '/admin/common/uploads' ,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,

                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                success: function (data) {
                    layer.close(jz);
                    $('#photoCover').val('/uploads/'+data);
                },
                error: function () {
                    alert('上传错误联系管理员');
                }
            });

        }


    });

    $.validator.setDefaults({
        submitHandler: function() {


             var jz;
             var url = "./slideEdit";
             $.ajax({
                 type:"POST",
                 url:url,
                 data:{'data' : $('#commentForm').serialize()},// 你的formid
                 async: false,
                 beforeSend:function(){
                     jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                 },
                 error: function(request) {
                     layer.close(jz);
                     swal("网络错误!", "", "error");

                 },
                 success: function(data) {
                     //关闭加载层
                      layer.close(jz);

                     if(data.code == 1){

                      window.location.href="{:url('siteset/slide')}";
                     }else{
                         swal(data.msg, "", "error");
                     }




                 }
             });


        }
    });



</script>
</body>
</html>
