<footer class="footer">
    <div class="footer-main">
        <div id="a1portalSkin_footerAreaA" class="page-width clearfix">
            <!-- Start_Module_47725 -->
            <a name="12471" id="12471"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr4772547725_mainArea" class="module-content">
                        <!-- Start_Module_47725 -->
                        <div class="qhd-module">
                            <div class="column">
                                <div class="col-3-1">
                                    <div id="a1portalSkin_ctr4772547725_Column2C33A67_QHDCPM47725M1" class="qhd_column_contain">
                                        <!-- Start_Module_47709 -->
                                        <a name="12472" id="12472"></a>
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770947709_mainArea" class="module-content">
                                                    <!-- Start_Module_47709 -->
                                                    <div class="qhd-content">
                                                        <p style="text-align: center;">
                                                            <img alt="官方微信" src="__HOME__/images/skin-icon/1497343649.png" style="width: 150px; height: 150px;"></p>
                                                        <p style="text-align:center;">
                                                            关注宝瑞官方微信</p>
                                                    </div>
                                                    <!-- End_Module_47709 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3-2 last">
                                    <div id="a1portalSkin_ctr4772547725_Column2C33A67_QHDCPM47725M2" class="qhd_column_contain">
                                        <!-- Start_Module_47707 -->
                                        <a name="12473" id="12473"></a>
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_mainArea" class="module-content">
                                                    <!-- Start_Module_47707 -->
                                                    <div class="qhd-module">
                                                        <div class="column">
                                                            <div class="col-4-1">
                                                                <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_QHDCPM47707M1" class="qhd_column_contain">
                                                                    <!-- Start_Module_47710 -->
                                                                    <a name="12474" id="12474"></a>
                                                                    <div class="module-default">
                                                                        <div class="module-inner">
                                                                            <div class="module-title module-title-default clearfix">
                                                                                <div class="module-title-content clearfix">
                                                                                    <h3 style="" class="">产品中心</h3></div>
                                                                            </div>
                                                                            <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_ctr4771047710_mainArea" class="module-content">
                                                                                <!-- Start_Module_47710 -->
                                                                                <!-- S link-line -->
                                                                                <div class="link link-block">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>八瓣砂</span></a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>吹枪</span></a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>风扳</span></a>
                                                                                        </li>


                                                                                        <li>
                                                                                            <a href="#" target=""><span>风批</span></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a href="#" target=""><span>刻磨机</span></a>
                                                                                        </li>


                                                                                    </ul>
                                                                                </div>
                                                                                <!-- E link-line -->
                                                                                <!-- End_Module_47710 -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4-1">
                                                                <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_QHDCPM47707M2" class="qhd_column_contain">
                                                                    <!-- Start_Module_47711 -->
                                                                    <a name="12475" id="12475"></a>
                                                                    <div class="module-default">
                                                                        <div class="module-inner">
                                                                            <div class="module-title module-title-default clearfix">
                                                                                <div class="module-title-content clearfix">
                                                                                    <h3 style="" class="">关于我们</h3></div>
                                                                            </div>
                                                                            <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_ctr4771147711_mainArea" class="module-content">
                                                                                <!-- Start_Module_47711 -->
                                                                                <!-- S link-line -->
                                                                                <div class="link link-block">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>企业简介</span></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a href="#" target=""><span>资质荣誉</span></a>
                                                                                        </li>

                                                                                    </ul>
                                                                                </div>
                                                                                <!-- E link-line -->
                                                                                <!-- End_Module_47711 -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4-1">
                                                                <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_QHDCPM47707M3" class="qhd_column_contain">
                                                                    <!-- Start_Module_47712 -->
                                                                    <a name="12476" id="12476"></a>
                                                                    <div class="module-default">
                                                                        <div class="module-inner">
                                                                            <div class="module-title module-title-default clearfix">
                                                                                <div class="module-title-content clearfix">
                                                                                    <h3 style="" class="">最新资讯</h3></div>
                                                                            </div>
                                                                            <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_ctr4771247712_mainArea" class="module-content">
                                                                                <!-- Start_Module_47712 -->
                                                                                <!-- S link-line -->
                                                                                <div class="link link-block">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>公司新闻</span></a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>行业动态</span></a>
                                                                                        </li>

                                                                                    </ul>
                                                                                </div>
                                                                                <!-- E link-line -->
                                                                                <!-- End_Module_47712 -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4-1 last">
                                                                <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_QHDCPM47707M4" class="qhd_column_contain">
                                                                    <!-- Start_Module_47713 -->
                                                                    <a name="12477" id="12477"></a>
                                                                    <div class="module-default">
                                                                        <div class="module-inner">
                                                                            <div class="module-title module-title-default clearfix">
                                                                                <div class="module-title-content clearfix">
                                                                                    <h3 style="" class="">营销网络</h3></div>
                                                                            </div>
                                                                            <div id="a1portalSkin_ctr4772547725_Column2C33A67_ctr4770747707_Column4C25A25A25A25_ctr4771347713_mainArea" class="module-content">
                                                                                <!-- Start_Module_47713 -->
                                                                                <!-- S link-line -->
                                                                                <div class="link link-block">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a href="#" target=""><span>营销网络</span></a>
                                                                                        </li>

                                                                                    </ul>
                                                                                </div>
                                                                                <!-- E link-line -->
                                                                                <!-- End_Module_47713 -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End_Module_47707 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End_Module_47725 -->
                    </div>
                </div>
                <div class="module-divider"></div>
            </div>
            <!-- Start_Module_47726 -->
            <a name="12478" id="12478"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr4772647726_mainArea" class="module-content">
                        <!-- Start_Module_47726 -->
                        <div class="qhd-module">
                            <div class="column">
                                <div class="col-5-3">
                                    <div id="a1portalSkin_ctr4772647726_Column2C60A40_QHDCPM47726M1" class="qhd_column_contain">
                                        <!-- Start_Module_47714 -->
                                        <a name="12479" id="12479"></a>
                                        <div class="module-default module-no-margin">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr4772647726_Column2C60A40_ctr4771447714_mainArea" class="module-content">
                                                    <!-- Start_Module_47714 -->
                                                    <div class="qhd-content">
                                                        <p>
                                                            © Copyright XXXX.com &nbsp; &nbsp; 乐清市宝瑞工具有限公司 版权所有 &nbsp; &nbsp; 浙ICP备xxxxx号</p>
                                                    </div>
                                                    <!-- End_Module_47714 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5-2 last">
                                    <div id="a1portalSkin_ctr4772647726_Column2C60A40_QHDCPM47726M2" class="qhd_column_contain">
                                        <!-- Start_Module_47715 -->
                                        <a name="12480" id="12480"></a>
                                        <div class="module-default module-no-margin">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr4772647726_Column2C60A40_ctr4771547715_mainArea" class="module-content">
                                                    <!-- Start_Module_47715 -->
                                                    <div class="qhd-content">
                                                        <p style="text-align: right;">

                                                        </p>
                                                    </div>
                                                    <!-- End_Module_47715 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End_Module_47726 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>