<header class="top header-v1 desktops-section default-top">
  <!-- top-bar -->
  <!-- top-bar -->
  <!-- S top-main -->
  <div class="top-main">
    <div class="page-width clearfix">
      <div class="logo" skinobjectzone="HtmlLogo_385">
        <a href="#"><img src="__HOME__/index_files/07d7ba5b-5b1b-45ce-baa5-d02da1d2db5a_0_70.png" alt=""></a>
      </div>
      <!-- end of logo -->
      <div class="top-main-content float-right">
        <!-- S nav -->
        <nav class="nav">
          <div class="main-nav clearfix" skinobjectzone="menu_454">
            <ul class="sf-menu sf-js-enabled">
              <li >
                <a class="first-level" href="/" target=""><strong>首页</strong></a><i></i></li>
              <li class="">
                <a class="first-level sf-with-ul" href="/about" target=""><strong>关于我们</strong><span class="sf-sub-indicator"> »</span></a><i></i>
                <ul class="" style="display: none; visibility: hidden;">
                  <li class="">
                    <a class="" href="/about" target=""><strong>企业简介</strong></a>
                  </li>
                  <li class="">
                    <a class="" href="/honor" target=""><strong>资质荣誉</strong></a>
                  </li>

                </ul>
              </li>
              <li class="">
                <a class="first-level sf-with-ul" href="/product" target=""><strong>产品中心</strong><span class="sf-sub-indicator"> »</span></a><i></i>
                <ul class="" style="display: none; visibility: hidden;">

                  {volist name="procate" id="v"}
                  <li class="">
                    <a class=""  href="{$v.cate_rewrite}" target=""><strong>{$v.name}</strong></a>
                  </li>
                  {/volist}


                </ul>
              </li>
              <li class="">
                <a class="first-level sf-with-ul" href="/network" target=""><strong>营销网络</strong><span class="sf-sub-indicator"> »</span></a><i></i>
                <ul class="" style="display: none; visibility: hidden;">
                  <li class="">
                    <a class="" href="/network" target=""><strong>营销网络</strong></a>
                  </li>

                </ul>
              </li>
              <li class="">
                <a class="first-level sf-with-ul" href="/news" target=""><strong>新闻资讯</strong><span class="sf-sub-indicator"> »</span></a><i></i>
                <ul class="" style="display: none; visibility: hidden;">
                  <li class="">
                    <a class="" href="/news" target=""><strong>公司新闻</strong></a>
                  </li>
                  <li class="">
                    <a class="" href="/indusrty" target=""><strong>行业动态</strong></a>
                  </li>

                </ul>
              </li>
              <li class="">
                <a class="first-level sf-with-ul" href="/job" target=""><strong>人才招聘</strong><span class="sf-sub-indicator"> »</span></a><i></i>
                <ul class="" style="display: none; visibility: hidden;">

                  <li class="">
                    <a class="" href="/job" target=""><strong>招聘信息</strong></a>
                  </li>
                </ul>
              </li>
              <li class="last">
                <a class="first-level sf-with-ul" href="/contact" target=""><strong>联系我们</strong><span class="sf-sub-indicator"> »</span></a><i></i>
                <ul class="" style="display: none; visibility: hidden;">
                  <li class="">
                    <a class="" href="/contact" target=""><strong>联系方式</strong></a>
                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- E nav-->
      </div>
    </div>
  </div>
  <!-- E top-main -->
  <div class="clear"></div>
</header>
<!-- S touch-top-wrapper -->
<div class="touch-top mobile-section clearfix">
  <div class="touch-top-wrapper clearfix">
    <div class="touch-logo" skinobjectzone="HtmlLogo_2357">
      <a class="" href="#"><img src="__HOME__/index_files/07d7ba5b-5b1b-45ce-baa5-d02da1d2db5a_0_70.png" alt=""></a>
    </div>
    <!-- S touch-navigation -->
    <div class="touch-navigation">
      <div class="touch-toggle">
        <ul>
          <li class="touch-toggle-item-last">
            <a href="javascript:;" class="drawer-menu" data-drawer="drawer-section-menu"><i class="touch-icon-menu"></i><span>导航</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- E touch-navigation -->
  </div>
  <!-- S touch-top -->
  <div class="touch-toggle-content touch-top-home">
    <div class="drawer-section drawer-section-menu">
      <div class="touch-menu" skinobjectzone="menu_2803">
        <ul>
          <li>
            <a href="#"><span>首页</span></a>
          </li>
          <li>
            <a href="javascript:;"><span>关于我们</span><i class="touch-arrow-down"></i></a>
            <ul>
              <li>
                <a href="/about"><span>企业简介</span></a>
              </li>
              <li>
                <a href="/honor"><span>资质荣誉</span></a>
              </li>

            </ul>
          </li>
          <li>
            <a href="javascript:;"><span>产品中心</span><i class="touch-arrow-down"></i></a>
            <ul>

            {volist name="procate" id="v"}
              <li>
                <a href="{$v.cate_rewrite}"><span>{$v.name}</span></a>
              </li>

           {/volist}


            </ul>
          </li>

          <li>
            <a href="javascript:;"><span>新闻资讯</span><i class="touch-arrow-down"></i></a>
            <ul>
              <li>
                <a href="#"><span>公司新闻</span></a>
              </li>
              <li>
                <a href="#"><span>行业动态</span></a>
              </li>

            </ul>
          </li>
          <li>
            <a href="javascript:;"><span>招聘信息</span><i class="touch-arrow-down"></i></a>
            <ul>
              <li>
                <a href="#"><span>人才理念</span></a>
              </li>

            </ul>
          </li>
          <li>
            <a href="javascript:;"><span>联系我们</span><i class="touch-arrow-down"></i></a>
            <ul>
              <li>
                <a href="#"><span>联系方式</span></a>
              </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {

            $(".touch-toggle a").click(function(event) {
                var className = $(this).attr("data-drawer");

                if($("." + className).css('display') == 'none') {
                    $("." + className).slideDown().siblings(".drawer-section").slideUp();
                } else {
                    $(".drawer-section").slideUp();
                }
                event.stopPropagation();
            });

          /*$(document).click(function(){
           $(".drawer-section").slideUp();
           })*/

            $('.touch-menu a').click(function() {
                if($(this).next().is('ul')) {
                    if($(this).next('ul').css('display') == 'none') {
                        $(this).next('ul').slideDown();
                        $(this).find('i').attr("class", "touch-arrow-up");
                    } else {
                        $(this).next('ul').slideUp();
                        $(this).next('ul').find('ul').slideUp();
                        $(this).find('i').attr("class", "touch-arrow-down");
                    }
                }
            });
        });
    </script>
  </div>
  <!-- E touch-top -->
</div>