<div id="a1portalSkin_fixed-left" class="QHDEmptyArea fixed-side fixed-left" style="top: 2288px;"></div>
<!-- E fixed-side -->
<!-- S fixed-side -->
<div id="a1portalSkin_fixed-right" class="fixed-side fixed-right" style="top: 2110.5px;">
    <!-- Start_Module_47701 -->
    <a name="12495" id="12495"></a>
    <div class="module-default">
        <div class="module-inner">
            <div id="a1portalSkin_ctr4770147701_mainArea" class="module-content">
                <!-- Start_Module_47701 -->
                <div class="link-fixed-side">
                    <ul>
                        <li class="first">
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=#&amp;site=qq&amp;menu=yes" class="link-name" target="_blank"><i style="background-image:url(http://cdnimgs.srxsfjy.com/Portals/523/Images/Links/_thumbs/646d71c9-2439-4e9d-a9f9-79601dce0ed8_32_32_UniformFill.png);" alt="在线咨询"></i><span>在线咨询</span></a>
                        </li>
                        <li class="">
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=#&amp;site=qq&amp;menu=yes" class="link-name" target="_blank"><i style="background-image:url(http://cdnimgs.srxsfjy.com/Portals/523/Images/Links/_thumbs/75008a23-c9cc-4df5-95e5-55678e844a9a_32_32_UniformFill.png);" alt="在线咨询"></i><span>在线咨询</span></a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="link-name" target="_blank"><i style="background-image:url(http://cdnimgs.srxsfjy.com/Portals/523/Images/Links/_thumbs/15c984c7-2d5c-4027-8791-f3ad53c8f731_32_32_UniformFill.png);" alt="服务热线"></i><span>服务热线</span></a>
                            <div class="link-summary"><i class="arrow-section-r"></i>
                                <div class="link-summary-content">
                                    <div class="qhd-content">
                                        <p style="text-align:center;">0577-123456</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=#&amp;site=qq&amp;menu=yes" class="link-name" target="_blank"><i style="background-image:url(http://cdnimgs.srxsfjy.com/Portals/523/Images/Links/_thumbs/3cdd334e-72a5-4d7e-bc6c-fe9384af49d8_32_32_UniformFill.png);" alt="售后服务"></i><span>售后服务</span></a>
                        </li>
                        <li class="">
                            <a href="http:/#popup" class="link-name popup-show-btn" target=""><i style="background-image:url(http://cdnimgs.srxsfjy.com/Portals/523/Images/Links/_thumbs/4a2a9683-ee90-4116-8d82-577ce58141b7_32_32_UniformFill.png);" alt="微信二维码"></i><span>微信二维码</span></a>
                        </li>
                    </ul>
                </div>
                <!-- End_Module_47701 -->
            </div>
        </div>
    </div>
</div>
<!-- E fixed-side -->
<!-- S popup -->
<div id="popup" class="popup">
    <div class="popup-content not-animated" data-animate="fadeInDown">
        <div id="a1portalSkin_popup-area" class="popup-content-wrapper">
            <!-- Start_Module_47700 -->
            <a name="11851" id="11851"></a>
            <div class="module-default module-no-margin">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr4770047700_mainArea" class="module-content">
                        <!-- Start_Module_47700 -->
                        <div class="qhd-content">
                            <p style="text-align: center;">
                                <img alt="二维码" src="__HOME__/images/skin-icon/1497343649.png" style="width: 200px; height: 200px;"></p>
                            <p style="text-align: center;">
                                <strong>扫一扫，关注官方微信</strong></p>
                        </div>
                        <!-- End_Module_47700 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-close-btn">
            <a href="javascript:;" title="关闭"><span>关闭</span></a>
        </div>
    </div>
    <div class="popup-overlay"></div>
</div>
<!-- E popup -->
<!-- E go top -->
<div class="gotop-wrapper">
    <a href="javascript:;" class="fixed-gotop gotop" style="display: block;"></a>
</div>
<!-- E go top -->
